.home-page-grid-container {

        height: 100%;
        display: grid;
        grid-column-gap: 1em;
        grid-row-gap: 2em;
        grid-template-columns: repeat(12, 1fr);
        background-color: rgba(248, 249, 250);
        justify-content: center;



        grid-template-areas:
            "h h h h h h h h h h h h"
            ". . . c c c c s s . . ."
            ". . . c c c c . . . . ."

    }



    .home-page-side-menu {
        grid-area: s;


         height: 100%;
        display: grid;
        grid-column-gap: 1em;
        grid-row-gap: 2em;
        grid-template-columns: repeat(2, 1fr);



        grid-template-areas:
            "m m"
            "t t"
            "f f" 




    }

  .home-page-community{
      grid-area: m;
  }

  .home-page-topic{
      grid-area:t;
  }

    .home-page-page-content {
        grid-area: c;
        
        height: 100%;
        display: grid;
        grid-column-gap: 1em;
        grid-row-gap: 2em;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 255px;
   
        


        grid-template-areas:
            "filter filter"
            "post post"
            
            


    }


    .home-page-posts{
        grid-area: post;
    }
    
    .home-page-footer{
        grid-area: f;
    }

    .home-page-filterBar{
        grid-area: filter;
        
    }

    .myNav {
        grid-area: h;

    }


    @media screen and (max-width: 2100px) {
        .home-page-grid-container {


            grid-template-areas:
                "h h h h h h h h h h h h h"
                ". . . c c c c s s s . . ."
                ". . . c c c c . . . . . ."

        }





    }

    @media screen and (max-width: 1500px) {
        .home-page-grid-container {


            grid-template-areas:
                "h h h h h h h h h h h h"
                ". . c c c c c s s s . ."
                ". . c c c c c . . . . ."

        }





    }

    @media screen and (max-width: 1300px) {
        .home-page-grid-container {


            grid-template-areas:
                "h h h h h h h h h h h h"
                ". c c c c c c s s s s ."
                ". c c c c c c . . . . ."

        }





    }

      @media screen and (max-width: 800px) {
        .home-page-grid-container {

        
            grid-template-areas:
                "h h h h h h h h h h h h"
                ". c c c c c c c c c c ."
                ". c c c c c c c c c c ."

        }


    .home-page-side-menu{display: none;}


    }


     @media screen and (max-width: 1000px) {
        .home-page-grid-container {
        justify-content: center;
        justify-items: center;
       
            grid-template-areas:
                "h h h h h h h h h h h h h"
                ". c c c c c c c c c c . ."
                ". c c c c c c c c c c . ."
            

        }

        .home-page-side-menu{display: none;}
      
    }

     @media screen and (max-width: 615px) {
        .home-page-grid-container {

        
            grid-template-areas:
                "h h h h h h h h h h h h"
                "c c c c c c c c c c c c"
                "c c c c c c c c c c c c"

        }

         .home-page-page-content {
        
        grid-template-areas:
            "post post"
            "post post"

    }

       .home-page-posts{
           margin: 5px;
       }

    .home-page-side-menu{display: none;}
  .home-page-filterBar{display: none;}

    }

    
    @media screen and (min-width: 2500px) {
        .home-page-grid-container {

         grid-template-columns: repeat(13, 1fr);
            grid-template-areas:
                "h h h h h h h h h h h h h"
                ". . . . c c c s s . . . ."
                ". . . . c c c . . . . . ."

        }

        
    }



    
